{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻文本摘要与分类</title>
    <link rel="icon" type="image/png" href="{% static 'news_classification/img/logo.png' %}"/>
    <link rel="stylesheet" href="{% static 'news_classification/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'news_classification/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'news_classification/css/theme-additional.css' %}">
    <link rel="stylesheet" href="{% static 'news_classification/css/style.css' %}">
</head>
<body>
<section class="menu cid-s5yY03wZSv">
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-brand">
        <span class="navbar-logo">
            <img src="{% static 'news_classification/img/logo.png' %}" alt="logo">
        </span>
        <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-5" href="{% url 'news_classification:index' %}">新闻文本摘要与分类</a></span>
      </div>
    </div>
    </nav>
</section>

<section class="features12 cid-s5yZooZ026">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <p class="main-text align-left mbr-fonts-style pb-4 display-7">使用 TextRank 算法提取新闻文本的摘要，
                    并基于 PaddlePaddle 框架，构建多分类深度神经网络，对生成的摘要文本进行分类预测。</p>
            </div>
        </div>
        {% if error %}
            <p style="color: #ff6250">{{ error }}</p>
        {% endif %}
        <div class="row">
            <div class="card col-12 md-pb">
                <form class="news-form" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="newsInput">新闻文本</label>
                        <textarea class="form-control news-input-textarea" name="newsInput" rows="5" id="newsInput" type="text">{{ raw_input }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
                </form>
            </div>
        </div>

        <!-- 摘要与预测结果展示 -->
        {% if summary %}
        <div class="row result-block">
            <div class="card col-12 md-pb">
                <div>
                    【摘要】：{% for s in summary %}
                        <span class="summary-text">{{ s }}。</span>
                    {% empty %}
                                请检查文本输入！
                    {% endfor %}
                </div>
                <p>分类预测：<span class="badge badge-dark">{{ result }}</span></p>
            </div>
        </div>
    {% endif %}
    </div>
</section>


<script src="{% static 'news_classification/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'news_classification/js/popper.min.js' %}"></script>
<script src="{% static 'news_classification/js/bootstrap.min.js' %}"></script>

</body>
</html>