{% extends "web_analysis/base.html" %}

{% block tab4 %}
    <li class="nav-item">
        <a class="nav-link active" role="tab" href="{% url 'userurl' %}" aria-selected="true">
            <span class="d-sm-block d-none">用户点击 URL 分析</span>
        </a>
    </li>
{% endblock %}

{% block content %}
    <div class="usertime-selector">
        <div class="row">
            <div class="col-md-8 mb-1">
                <form action="{% url 'userurl' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="用户原始ID (Initial ID)" name="uiid">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"> 用户点击 URL 分析 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row chart-container">
        <div clas="col-12">
            {% if error_message %}
                <p class="word-cloud-error-message"> {{ error_message }}</p>
            {% elif url_data and uiid %}
                <h5 style="padding: 0.5rem 1rem">用户 {{ uiid }} 点击 URL 分析 </h5>
                <div style="width:1000px; height:600px" id="myChart"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block canvas %}
    <script>
        option = {
            title: {
                text: '用户访问网站',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                type: 'scroll',
                orient: 'vertical',
                right: 10,
                top: 20,
                bottom: 20,
                data: {{ url_data_label | safe }},
                selected: ({{ url_data | safe }}).selected
            },
            series: [
                {
                    name: 'URL',
                    type: 'pie',
                    radius: '55%',
                    center: ['30%', '50%'],
                    data: {{ url_data | safe }},
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        const chartDom = document.getElementById('myChart');
        const myChart = echarts.init(chartDom);
        option && myChart.setOption(option);
    </script>
{% endblock %}

